<!DOCTYPE html>
<html lang="en-US">
<head>
    <link href="Content/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <h1>Cloudy Water Sports</h1>
        @*<a href="/">

            @Html.Sitecore().Field("Logo", Sitecore.Context.Database.GetItem("/sitecore/Content/Config"))
        </a>*@

    </div>
        <div id="menu">
            @Html.Sitecore().ViewRendering("/Views/Navigation/Menu.cshtml")
        </div>

    <div id="content">
        <div id="left">
            <h1>@Html.Sitecore().Field("Title")</h1>
            @Html.Sitecore().Field("Body")
        </div>

        <div id="right">
            @Html.Sitecore().ViewRendering("/Views/WhatsNew.cshtml")
            @Html.Sitecore().Rendering("{F3AC68B4-3454-41CB-8F6B-38C36D7D2289}")
            
        </div>
    </div>

    <div id="footer">
        @Html.Sitecore().Field("Copyright Text", Sitecore.Context.Database.GetItem("/sitecore/Content/Config"))
    </div>

</body>
</html>