<!DOCTYPE html>
<html lang="en-US">
<head>
    <link href="Content/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        test
        <h1>Cloudy Water sdll Sports</h1>
    </div>

    <div id="menu">
        @Html.Sitecore().CurrentItem.Name
        @Html.Sitecore().Placeholder("header-menu")
    </div>

    <div id="content">
        <div id="left">
        @Html.Sitecore().Placeholder("main-content")
        </div>

        <div id="right">
         @Html.Sitecore().Placeholder("right-content")
        </div>
    </div>

    <div id="footer">
        <p>@Html.Sitecore().Field("Copyright Text", Sitecore.Context.Database.GetItem("/sitecore/Content/Config"))</p>
    </div>

</body>
</html>